@using Kendo.Mvc.UI
@using RaceData.Service
@model RaceData.Models.Models.HorseOddModel

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.RaceId)
        <div class="editor-label">
            @Html.LabelFor(model => model.HorseNumber)
        </div>
        <div class="editor-field">
            @(Html.Kendo().NumericTextBoxFor(m => m.HorseNumber)
                      .Format("#")
                      .Min(1)
                      .Max(30)
                      .Value(1)
            )
            @Html.ValidationMessageFor(model => model.HorseNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HorseName)
        </div>
        <div class="editor-field">
            @(Html.Kendo().DropDownListFor(m=>m.HorseId)
            .DataValueField("Id")
            .DataTextField("Name")
            .BindTo(SessionService.Horse))
            @Html.ValidationMessageFor(model => model.HorseName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.WinOdds)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WinOdds)
            @Html.ValidationMessageFor(model => model.WinOdds)
        </div>





